docs/design/trash-dash/reference/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/design/trash-dash/character-animation/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/design/trash-dash/powerups/**/*.png filter=lfs diff=lfs merge=lfs -text
